{{ $caseStudiesSection := site.GetPage "case-studies" }}
{{ if not $caseStudiesSection }}
{{ errorf "[%s] No case-studies section found. Create content/%s/case-studies/_index.md"  $.Page.Lang $.Page.Lang }}
{{ else }}
{{ $caseStudiesPages := where $caseStudiesSection.Pages "Params.featured" true | first 4 }}
<section id="caseStudies">
  <div class="main-section">
    <h2>{{ $caseStudiesSection.Title }}</h2>
    <div id="caseStudiesWrapper">
      {{ range $caseStudiesPages }}
			{{ $logo := .Resources.GetMatch "**{feature,logo}*.svg" }}
			{{ if not $logo }}
				{{ $logo = .Resources.GetMatch "**logo*.png" }}
			{{ end }}
      <div class="caseStudy">
        <div class="logo">
             {{ with $logo }}<img src="{{ .RelPermalink }}" alt="{{ .Title }}">{{ end }}
        </div>
        <hr>
        <p>"{{ .Params.quote | truncate 100 }}"</p>
      </div>
      <a href="{{ .RelPermalink }}">{{ T "main_read_more" }}</a>
      {{ end }}  
    </div>
  </div>
</section>
{{ end }}
