---
title: "Kubernetes made simplier and safer"
abstract: "Automated container deployment, scaling, and management"
cid: home
sitemap:
  priority: 1.0
---

{{< blocks/section id="oceanNodes" >}}
{{% blocks/feature image="grow" %}}
[Knative]("http://knative.dev/docs"), offers a Serverless experiance for Kubernetes users.
Knative gets the job done cheaper, faster and more secure to 
ease deployments of containerized application.

As a Kubernetes Native enhancement, Knative offers a simpler, more modern compute model and comes out of the box with application security, eventing and resource management. 

{{% /blocks/feature %}}

{{% blocks/feature image="automate" %}}
#### Automation
Knative eliminates Kubernetes complexities by automating the entire microservice deployment process. 
Users need only provide a high-level service definition for Knative to derive, create and manage all necessary Kubernetes resources for the microservice to become operational.    

Knative takes care of the details of networking, scaling, revision tracking, and more; 
Since all resources are automatically derived, misconfiguration of any of the resources is no longer a possibility.
                    
{{% /blocks/feature %}}

{{% blocks/feature image="threeRevisions" %}}
#### Revision Control

Knative  safeguard against the hazards of deploying new revisions by enabling a smooth and controlled transition between application revisions. 
For example, a user may initially decide that only 1% of the traffic will be handled by the new revision, and only after gaining sufficent confidance in the new revision, remove the previous one.</p>
                    
{{% /blocks/feature %}}

{{% blocks/feature image="AtoB" %}}
#### Simplicity

Knative offers a much simpler and straightforward CLI tool (See KN) and hide the many implementation details normally exposed to Kubernetes users.    

The number of configuration knobs is drastically reduced requiring less effort to both deploy and then maintain. 
The user is not required to have a full understanding of Kubernetes which means a higher return on the time invested.
                    
{{% /blocks/feature %}}


{{% blocks/feature image="autoscale" %}}
#### Auto-Scale

Knative reduce deployment costs by adjusting the number of pod replicas servicing the application to the actual load as needed.
This completely eliminates the need for users to pre-provision their applications such to absorb peak time loads. 
                           
{{% /blocks/feature %}}


{{% blocks/feature image="appBackbone" %}}
#### Applicatiuon Backbone
Knative serves as the backbone of your application and removes the need for additional application queuing/eventing systems.  

Knative's handles all inter-microservice communications and queues ingress and internal communications. This helps absorb the application load and enable each layer of your application to auto-scale independently.
                        
{{% /blocks/feature %}}


{{% blocks/feature image="guard" %}}
#### Application Security

Knative give you visibility into: (1) when are you targeted, (2) when are you under attack, and (3) when are your services compromised. 
                            
It auto-learns security micro-rules for you and allow you to auto-block suspicious requests.
Knative gives you tools to manage known vulnerabilities in your services, and to block on-going attacks.

{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section id="video" background-image="banner" >}}
<div class="light-text">
<h2>Use Knative when you can, Kubernetes when you must</h2>
        <br>
        <br>
        <a href="https://events.linuxfoundation.org/kubecon-cloudnativecon-north-america" button id="desktopKCButton">Attend KnativeCon + KubeCon North America on October 24-28, 2022</a>
        <br>
        <br>
        <br>
        <br>
        <a href="https://events.linuxfoundation.org/kubecon-cloudnativecon-europe/" button id="desktopKCButton">Attend KubeCon Europe on April 17-21, 2023</a>
</div>
<div id="videoPlayer">
    <iframe data-url="https://www.youtube.com/embed/H06qrNmGqyE?autoplay=1" frameborder="0" allowfullscreen></iframe>
    <button id="closeButton"></button>
</div>
{{< /blocks/section >}}

{{< blocks/knative-features >}}

{{% blocks/knative-components %}}
  


{{< blocks/case-studies >}}

{{< blocks/trusted >}}
